body {
  margin: 0;
  padding: 0;
  font-family: Forum, serif;
}

.hero {
  background-color: #f08e80;
  height: 90vh;
}

.navbar {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
}

.navbar .links a {
  color: white;
  font-size: 1.2rem;
  margin-right: 16px;
  text-decoration: none;
}

.navbar p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.navbar .contact {
  color: #f08e80;
  background-color: white;
  padding: 16px 24px;
  text-decoration: none;
}

.navbar .contact:hover {
  opacity: 0.8;
}

.hero-content {
  padding: 0 15%;
}

.tagline {
  color: white;
  font-size: 4.5rem;
  letter-spacing: 2px;
  padding: 32px 0;
}