body {
  margin: 0;
  padding: 0;
  font-family: Forum, serif;
}

.hero {
  background-color: #f08e80;
  color: white;
  display: inline-block;
  min-height: 90vh;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
}

.navbar .links a {
  color: white;
  font-size: 1.2rem;
  margin-right: 16px;
  text-decoration: none;
}

.navbar p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.navbar .contact {
  color: #f08e80;
  background-color: white;
  padding: 16px 24px;
  text-decoration: none;
}

.navbar .contact:hover {
  opacity: 0.8;
}

.hero-content {
  padding: 0 15%;
}

.tagline {
  color: white;
  font-size: 4.5rem;
  letter-spacing: 2px;
  padding: 32px 0;
}

.two-column-section {
  font-size: 2rem;
}

.two-column-section > p {
  box-sizing: border-box;
  float: left;
  width: 50%;
}

.two-column-section .skills {
  box-sizing: border-box;
  float: left;
  list-style: none;
  padding: 0;
  width: 50%;
}

.two-column-section .skills li {
  float: left;
  font-size: 1.25rem;
  margin: 8px 0;
  width: 50%;
}

.blog-section {
  background-color: white;
  padding: 64px 0;
}

.blog-content {
  padding: 0 15%;
}

.two-column-section .blog-posts {
  float: left;
  margin-top: 24px;
  width: 50%;
}

.blog-heading {
  font-size: 1.5rem;
}

.blog-text {
  font-size: 1rem;
}

.blog-posts .blog-date {
  color: gray;
  font-size: 0.9rem;
  margin-bottom: 32px;
}

.blog-posts p {
  margin: 8px 0;
}

.events-section {
  background-color: #fdf0e6;
  display: inline-block;
  padding: 64px 0;
  width: 100%;
}

.events-content {
  padding: 0 15%;
}

.events-card {
  float: left;
  margin-top: 24px;
  width: 50%;
}

.events-card p {
  margin: 8px;
}

.event-title {
  font-size: 1.6rem;
}

.event-location {
  font-size: 1rem;
}

.events-card .event-date {
  color: gray;
  font-size: 0.9rem;
  margin-bottom: 32px;
}

footer {
  background-color: black;
  color: white;
  margin: 0;
  padding: 60px;
}

.footer-content {
  text-align: center;
}

footer img {
  height: 2rem;
  margin: 0 8px 8px 8px;
  width: 2rem;
}

@media only screen and (max-width: 1000px) {
  .hero-content,
  .blog-content,
  .events-content {
    padding: 0 7%;
  }
}

@media only screen and (max-width: 750px) {
  .tagline {
    font-size: 3.5rem;
  }
  .two-column-section > p {
    width: 100%;
  }
  .two-column-section .skills {
    width: 100%;
  }
  .two-column-section .blog-posts {
    width: 100%;
  }
  .section-heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 20px auto 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  .links {
    display: none;
  }
  .tagline {
    font-size: 3rem;
    margin: 0;
  }
  .mission-statement {
    font-size: 1.5rem;
  }
  footer {
    padding: 30px;
  }
  .footer-content p {
    margin-bottom: 0;
  }
}
